.header{
	height: 10vh;
	background-color: white;
	width: 100vw;
	position: sticky;
	z-index: 100;
}

.nav{
	height: 100%;
	display: flex;
    flex-direction: row;
    align-items: center;
}

.logo > a{
	color: #FA6980;
	font-size: 1.5rem;
	margin-left: 1rem;
}

.menu > ul{
	display: flex;
	flex-direction: row;
	align-items: center;
    width: 150%;
    justify-content: space-around;

}
.menu > ul >li > a{
	color:lightgrey;
 }

.menu > ul > li:first-of-type > a{
	color: #343638;
}

.container {
	width: 100vw;
	height: auto;
	margin-left: 1rem;
}

.s2 > h1{
	font-size: 20px;

}

.content{
	margin-top: 10px;
    position: relative;
    display: flex;
    flex-direction: row;
    height: 32vh;
    margin-bottom: 9rem;
    width: 100vw;
   justify-content: space-between;
}

.card {
	width: 30vw;
}

.card-img > img {
	width: 30vw;
}

.card-img > div > p{
	position: absolute;
	transform: translate(50%,-600%);
	color: white;
}

.card-txt > p {
	padding: 1rem;
}
.btmcn > div > h1{
	font-size: 20px;
	margin-top: 30px;
}

.btmcn{
	margin-left: 1rem;
    width: 65vw;
    height: 85vh;
    display: flex;
    flex-direction: row;
}

.div2 > p{
	position: absolute;
	color: white;
	transform: translate(196%,-1500%);

}

.surati{
	width: 65vw;
    height: 98vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.div2 > img {
	width: 64vw;
}


.div3{
	margin-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: ;
    justify-content: space-between;
    height: 88vh;
    margin-top: 5rem;
}

footer{
	background-color:grey;
	margin-top: 20rem;
	height: 180px;
	position: absolute;
	width: 100vw;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.ss22{
	margin-top: 40px;
	margin-left: 20px;
	color: white;
}

footer > div {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}